*{
 
font-family: 'Work Sans', sans-serif;
margin:0px;



}
nav{
  display: flex;

  justify-content: space-between;
  background: #FFF;

max-width: 100%;
padding: 2rem;


}
.psicon{
  width: 5.37756rem;
height: 2.5rem;
flex-shrink: 0;

}
.Gamel{
  text-align: center;

font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
span{
  color: hotpink;
}
.nabopt{
  
  text-align: center;
  display: flex;
  text-align: center;
  align-items: center;
  
  
}
ul{
  display: flex;
}
 .nabopt  a{
  text-decoration: none;
  color: #3C354F;
justify-self: center;
  text-decoration: none;
  color: #3C354F;

font-size: 1rem;
list-style-type: none;
font-weight: 500;
margin-right:.7rem ;
margin-left: auto;
margin-top:1rem ;
padding-top: 5rem;
align-items: center;
}
ul>li{
  list-style-type: none;
  text-align: center;
  
}


.nabopt button{

  width: 13.375rem;
height: 3.5rem;
flex-shrink: 0;
display: flex;
justify-content: space-between;
align-items: center;
gap: .2rem;
}
/*........section1a.......a*/
.header{
  display: flex;
  justify-content: center;
  background-color: rgb(250, 249, 249);
  margin-bottom: 5rem;
  
}
.bannertitle{
  max-width: 50%;
  margin-right: 5rem;
  padding-top: 10rem;
 
 



}
.headh{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: 10rem;
margin-bottom: 1rem;
padding-top: 2rem;
}
.goat{
  text-align: center;
font-family: Work Sans;
font-size: 3.9375rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.buttonn-pink{
  display: inline-flex;
padding: 1rem 2rem;
align-items: flex-start;
gap: 0.625rem;
border-radius: 3rem;
border-radius: 3rem;
color: #FFF;
border: none;
margin-top: 2rem;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.buttonn-blue{
  display: inline-flex;
padding: 1rem 2rem;
align-items: flex-start;
gap: 0.625rem;
border-radius: 3rem;
background: #4EC5F7;
color: #FFF;
border: none;
margin-top: 2rem;


}


#headerimg{
  
  width: 25rem;
  height: 18.875rem;
  flex-shrink: 0;
  margin-top: 10rem;
  
  
}
/*...new main ...*/
.sectionone{
  text-align: center;
  
  align-items: center;

}
#online
{
  color: #0B0223;
  text-align: right;
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}
#funny{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}


 .sectionone .ashfont{
  color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: .8rem;



align-items: center;

}
/*.....section2...*/
.sectwo{
  display: flex;
 
  justify-content: center;
  
}
figcaption{
  color: #534C64;
font-family: Work Sans;
font-size: .8rem;
font-style: normal;
font-weight: 200;
line-height: .875rem; 
width: 12rem;
text-align: center;
padding-left: 1rem;

margin-top: .2rem;
}
.sectwo img {
  padding: 2rem;

  width: 10.375rem;
height: 14rem;
border-radius: 1rem;


text-align: center;



}
.secthree{
  
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  align-items: center;
  
  

}
.sec3head{
  padding-left: 2rem;
  padding-right: 5rem;
  padding-top: 3rem;
  max-width: 50;

 
}
.secthree .horseimg{
  width: 20rem;
  flex-shrink: 0;
  
  
}
#child{
  width: 10rem;
  margin-top:-7rem ;
  border-radius: 0.5rem;
border: 5px solid #FFF;
background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}



 











@media screen and (max-width: 560px){
  nav  {
    flex-direction: column;
    
    

  }
  .nabopt {
    flex-direction: column;
    
   
  }
  ul{
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  ul>li{
    margin: 1rem;
  }
  .psicon{
    width: 3.37756rem;
  height: 1.8rem;
   }
   .Gamel{
    text-align: center;
  
  font-size: 1.8125rem;
  
  font-weight: 400;
  
  }
  
  .nabopt  a{
    font-size:1 .3rem;
    flex-direction: column;
  

  }
  .nabopt button{

    width: 16.375rem;
  height: 4.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  }
  .nabopt button>img{
    height: 1.3rem;
    width: 1.8rem;
  }
  .header{
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
.bannertitle{
  justify-self: center;
  width: 30rem;
  height: auto;
  padding-left: 6rem;
}
#headerimg{
  width:20rem;
}
.btn{
  display: flex;
  gap: .3rem;
  font-size: .2rem;

}
.buttonn-pink{
  height: 2rem;
  width: 5rem;
  text-align: center;
  font-size: .7rem;
  padding: .5rem 1rem 0 1rem;
}
.buttonn-blue{
  height: 2rem;
  
  width: 7rem;
  text-align: center;
  font-size: .7rem;
  padding: .5rem 1rem 0 1rem;

}
.sectionone{
  font-size: 10px;

}
.sectwo{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.sectwo img {
  width: 15rem;
  height: auto;
  
}
.seconetwo{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
figcaption{
  width: 14rem
}
.secthree{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.secthree .horseimg{
  width: 12rem;
  flex-shrink: 0;
  margin-top: 5rem;
  



}
.sec3head{
  width: 12rem;
  text-align:center ;
 
}
.secthree p {
  max-width: 12rem;
  text-align: center;
  margin-left: 3rem;
}
}




/*....for tab..*/
@media screen and (min-width:560px) and (max-width:920px){
  nav  {
    flex-direction: column;
    
    

  }
  .nabopt {
    flex-direction: column;
    
   
  }
  ul{
    
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  ul>li{
    margin: 1rem;
  }
  .sectwo{
    flex-direction: row;
  }
  .sectwo img {
    max-width: 50rem;
    height: 40rem;
    height: auto;
    
  }
  figcaption{
    width: 25rem
 
  
}  
